/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font_awesome5
 */

@font-face {
  font-family: 'Six Caps';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sixcaps/v11/6ae_4KGrU7VR7bNmaYcV_3T4Pzoo.woff2) format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/opensans/v20/mem5YaGs126MiZpBA-UN7rgOX-hpKKSTj5PW.woff2) format('woff2');
}

@font-face {
  font-family: 'Sparkly';
  font-style: normal;
  font-weight: 200;
  src: url('FontdinerdotcomSparkly.ttf') format('truetype');
}

@font-face {
  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/satisfy/v11/rP2Hp2yn6lkG50LoCZOIHTWEBlw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/oswald/v36/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiYySUhiCXAA.woff) format('woff');
}

@font-face {
  font-family: 'Monoton';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/monoton/v10/5h1aiZUrOngCibe4TkHLQka4BU4.woff2) format('woff2');
 }

@font-face {
  font-family: 'Forum';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/forum/v11/6aey4Ky-Vb8Ew8IROpI43XnS.woff2) format('woff2');
 }

@font-face {
  font-family: 'Coda';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/coda/v16/SLXHc1jY5nQ8FUUGa7SOz9M.woff2) format('woff2');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v22/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDXbtXK-F2qC0s.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
}

body {
  margin: 0;
  background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.6)), url('full-bloom.png');
  /*background-image: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));*/
  /*font-family: 'Forum';*/
  /*font-family: 'Oswald';*/
  font-family: 'Playfair Display'
}

header, footer, nav, main {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  margin-top: -20px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
  /*transform: matrix(1, -0.1, 0, 1, 0, 0);*/
}

footer {

}

nav {
  /*font-family: 'Monoton';*/
  font-size: 28px;
  margin-top: -54px;
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: 1px;
  background: radial-gradient(rgb(125, 25, 20), rgb(100, 25, 20));
  color: rgb(240, 220, 200);
  text-shadow: 2px 2px 1px black;
  /*box-shadow: 2px 2px 5px black;*/
  border-radius: 20px;
  /*font-variant: small-caps;*/
}



main {
}

.cols-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.vintage__container {
  display: inline-block;
  margin: 0px auto 20px;
}

.vintage {
  font-family: 'Six Caps', sans-serif;
  font-size: 124px;
  letter-spacing: 6px;
  line-height: 1;
  margin: 0;
  position: relative;
}

.vintage__top {
  background: linear-gradient(rgb(240, 220, 200), rgb(230, 200, 160));
  -webkit-background-clip: text;
  background-clip: text;
  position: absolute;
  z-index: 1;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.vintage__bot {
  text-shadow:
    2px 1px rgb(85, 10, 0),
    4px 2px rgb(90, 15, 5),
    6px 4px rgb(100, 20, 15),
    8px 5px rgb(105, 25, 20),
    10px 6px black,
    12px 7px black,
    14px 8px black
}


.button_to {
  display: inline-block;
}

#icons button {
  background: transparent;
  border: none;
  padding: 0;
}


#container {
  background-color: #AAAAAA66;
  width: 100%;
  border-top: 3px solid #888;
}


.title {
  text-align: center;

}

.title h1 {
  color: #333;
  text-align: center;
  font-size: 40px;
  text-shadow: 1px 1px 1px black;
  display: inline-block;
  font-family: 'Oswald'
}

#icons {
  text-align: center;
  display: inline-block;
  padding-right: 20px;
  vertical-align: middle;
  margin-top: -18px;
}


.fa-layers-counter  {
  font-family: 'Open Sans';
  color: rgb(240, 220, 200) !important;
  background: radial-gradient(rgb(125, 25, 20), rgb(100, 25, 20)) !important;
  text-shadow: 1px 1px 1px white;
}

.topic h2 {
  color: #333;
  text-align: center;
  font-size: 22px;
  display: block;
  font-family: 'Oswald';
  text-align: center;

}

.topic textarea {
  width: 270px;
  height: 40px;
  background: #eee;
  border-radius: 5px;
  display: inline-block;
  padding: 10px;
  vertical-align: middle;
  margin-top: 0;
  font-family: 'Playfair Display';
  font-size: 16px;
  overflow: auto;
}

.hidden {
  visibility: hidden;
}

.message {
  padding: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-size: 16px;
  word-break: break-all;
}

.message .content {
  display: block;
  position: relative;
  text-shadow: 1px 1px 1px black;
  color: white;

}

.message .actions {
  position: absolute;
  bottom: -20px;
  right: 12px;
}

.speech-bubble {
  position: relative;
  background: radial-gradient(#00aabb99, #00aabbff);
  border-radius: 10px;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: -20px;

  border: 22px solid transparent;
  border-top-color: #00aabb;
  border-bottom: 0;
  border-right: 0;
}

.btn-like {
  background: #333;
  color: #ddd;
  border-radius: 3px;
  border: 1px solid #aaa;
  box-shadow: 1px 1px 1px black;
  padding: 3px 5px;
}






